footer {
  position: relative;
  background: var(--color-primary);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  clear: both;
  height: 150px;
  margin-top: 14rem;
}

footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.permalinks a:hover {
  border: 1px solid;
  border-color: var(--color-bg);
  border-radius: 1rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border: 1px solid;
  border-radius: 0.7rem;
  display: flex;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  margin-bottom: 0rem;
  color: var(--color-bg)
}